* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* ul, * ol {
  padding: 0;
  list-style: none;
}

* a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575px) {
  .container {
    width: 310px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.active {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.visible {
  opacity: 1 !important;
  -webkit-transform: scale(1) translatex(-50%) !important;
  transform: scale(1) translatex(-50%) !important;
}

.active-bullet {
  background-color: #fff !important;
  opacity: 1 !important;
}

.page-title {
  text-align: center;
  color: #fff;
  font-family: barlow condensed;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .page-title {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.38px;
  }
}

@media (min-width: 992px) {
  .page-title {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 4.72px;
  }
}

.page-title span {
  color: #fff;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .img-slider {
    height: 500px;
    position: relative;
  }
}

.img-slider img {
  margin-top: 32px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

@media (min-width: 576px) {
  .img-slider img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 992px) {
  .img-slider img {
    width: 475px;
    height: 475px;
    left: 33%;
  }
}

/*start header styling*/
header {
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 576px) {
  header {
    padding-left: 40px;
  }
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .content .logo {
  width: 40px;
  height: 40px;
}

header .content .logo a img {
  max-width: 100%;
}

header .content .menu-btn {
  width: 24px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (min-width: 576px) {
  header .content .menu-btn {
    display: none;
  }
}

header .content .menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #D0D6F9;
}

/*end header styling*/
/*start styling menu*/
.side-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(18px);
  -o-backdrop-filter: blur(18px);
  -moz-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 100vh;
  right: 0;
  top: 0;
  width: 65%;
  z-index: 2;
  color: #fff;
}

@media (min-width: 576px) {
  .side-menu {
    width: 58%;
    height: 85px;
    background-color: #0b0d17;
  }
}

@media (min-width: 992px) {
  .side-menu {
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(18px);
    -o-backdrop-filter: blur(18px);
    -moz-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
  }
}

.side-menu img {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .side-menu img {
    display: none;
  }
}

.side-menu ul {
  position: absolute;
  top: 20%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  counter-reset: serial -1;
}

@media (min-width: 576px) {
  .side-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    position: unset;
    padding: 0 20px;
  }
}

@media (min-width: 576px) {
  .side-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    position: unset;
    padding: 0 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.side-menu ul a {
  text-decoration: none;
  color: #D0D6F9;
  position: relative;
  counter-increment: serial;
}

@media (min-width: 576px) {
  .side-menu ul a {
    padding: 15px  0 33px 10px;
  }
}

@media (min-width: 992px) {
  .side-menu ul a {
    padding-right: 0;
    padding-left: 20px;
  }
}

.side-menu ul a::before {
  content: counter(serial, decimal-leading-zero);
  position: absolute;
  left: -30px;
  font-family: barlow condensed;
  font-weight: 700;
}

@media (min-width: 576px) {
  .side-menu ul a::before {
    display: none;
  }
}

@media (min-width: 992px) {
  .side-menu ul a::before {
    display: block;
    left: 0;
  }
}

.side-menu ul a:hover:not(.active) {
  border-bottom: 3px solid #84858a;
}

.side-menu ul a li {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.4px;
  font-family: Barlow Condensed;
  font-size: 16px;
}

/*start styling menu*/
body {
  background-image: url(../../../imgs/crew/background-crew-mobile.jpg);
  background-size: cover;
  position: relative;
}

@media (min-width: 576px) {
  body {
    background-image: url(../../../imgs/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 992px) {
  body {
    background-image: url(../../../imgs/crew/background-crew-desktop.jpg);
  }
}

body .crew h3 {
  margin-top: 40px;
}

body .crew .content {
  text-align: center;
  margin-top: 50px;
  color: #D0D6F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  body .crew .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  body .crew .content {
    height: 330px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media (min-width: 992px) {
  body .crew .content .img-slider {
    height: 400px;
    width: 50%;
  }
}

body .crew .content .img-slider img {
  top: 20%;
}

@media (min-width: 576px) {
  body .crew .content .img-slider img {
    top: 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  body .crew .content .img-slider img {
    top: -40%;
    width: 380px;
    height: 380px;
    left: 60%;
  }
}

body .crew .content .slider-btns {
  margin-top: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 576px) {
  body .crew .content .slider-btns {
    margin-top: 20px;
    width: 30%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  body .crew .content .slider-btns {
    margin: 10px auto;
    width: 20%;
  }
}

body .crew .content .slider-btns a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
  padding-bottom: 6px;
  cursor: pointer;
  opacity: 0.5;
}

body .crew .content .slider-btns::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #484951;
  top: -30px;
}

@media (min-width: 576px) {
  body .crew .content .slider-btns::before {
    display: none;
  }
}

body .crew .content .info-slider {
  position: relative;
  height: 250px;
  overflow: hidden;
}

@media (min-width: 576px) {
  body .crew .content .info-slider {
    height: 200px;
  }
}

@media (min-width: 992px) {
  body .crew .content .info-slider {
    height: 240px;
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body .crew .content .info-slider .card {
  width: 100%;
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .crew .content .info-slider .card h3 {
  margin-bottom: 0;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: bellefair;
  line-height: 18.34px;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
}

body .crew .content .info-slider .card h2 {
  margin-top: 8px;
  text-transform: uppercase;
  font-family: Bellefair;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

body .crew .content .info-slider .card p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 1px;
  position: relative;
}

@media (min-width: 576px) {
  body .crew .content .info-slider .card p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 992px) {
  body .crew .content .info-slider .card p {
    font-size: 18px;
    line-height: 32px;
  }
}
/*# sourceMappingURL=crew.css.map */