* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* ul, * ol {
  padding: 0;
  list-style: none;
}

* a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575px) {
  .container {
    width: 310px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.active {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.visible {
  opacity: 1 !important;
  -webkit-transform: scale(1) translatex(-50%) !important;
  transform: scale(1) translatex(-50%) !important;
}

/*start header styling*/
header {
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 576px) {
  header {
    padding-left: 40px;
  }
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .content .logo {
  width: 40px;
  height: 40px;
}

header .content .logo a img {
  max-width: 100%;
}

header .content .menu-btn {
  width: 24px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (min-width: 576px) {
  header .content .menu-btn {
    display: none;
  }
}

header .content .menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #D0D6F9;
}

/*end header styling*/
/*start styling menu*/
.side-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(18px);
  -o-backdrop-filter: blur(18px);
  -moz-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 100vh;
  right: 0;
  top: 0;
  width: 65%;
  z-index: 2;
  color: #fff;
}

@media (min-width: 576px) {
  .side-menu {
    width: 58%;
    height: 85px;
    background-color: #0b0d17;
  }
}

@media (min-width: 992px) {
  .side-menu {
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(18px);
    -o-backdrop-filter: blur(18px);
    -moz-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
  }
}

.side-menu img {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .side-menu img {
    display: none;
  }
}

.side-menu ul {
  position: absolute;
  top: 20%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  counter-reset: serial -1;
}

@media (min-width: 576px) {
  .side-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    position: unset;
    padding: 0 20px;
  }
}

@media (min-width: 576px) {
  .side-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    position: unset;
    padding: 0 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.side-menu ul a {
  text-decoration: none;
  color: #D0D6F9;
  position: relative;
  counter-increment: serial;
}

@media (min-width: 576px) {
  .side-menu ul a {
    padding: 15px 10px 33px;
  }
}

@media (min-width: 992px) {
  .side-menu ul a {
    padding-right: 0;
    padding-left: 20px;
  }
}

.side-menu ul a::before {
  content: counter(serial, decimal-leading-zero);
  position: absolute;
  left: -30px;
  font-family: barlow Condensed;
  font-weight: 800;
}

@media (min-width: 576px) {
  .side-menu ul a::before {
    display: none;
  }
}

@media (min-width: 992px) {
  .side-menu ul a::before {
    display: block;
    left: 0;
  }
}

.side-menu ul a:hover:not(.active) {
  border-bottom: 3px solid #84858a;
}

.side-menu ul a li {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.4px;
  font-family: Barlow Condensed;
  font-size: 16px;
}

/*start styling menu*/
body {
  background-image: url(../../../imgs/destination/background-destination-mobile.jpg);
  background-size: cover;
  position: relative;
}

body .destination .content {
  text-align: center;
  margin-top: 34px;
  color: #D0D6F9;
  position: relative;
}

body .destination .content h3 {
  font-family: barlow condensed;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

body .destination .content h3 span {
  color: #fff;
}

body .destination .content .img-slider img {
  margin-top: 32px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

body .destination .content ul.dest-menu {
  margin-top: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: barlow condensed;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2.36px;
  font-weight: 400;
}

body .destination .content ul.dest-menu a {
  text-decoration: none;
  color: #D0D6F9;
  text-transform: uppercase;
  padding-bottom: 6px;
}

body .destination .content .info-slider {
  position: relative;
  height: 450px;
  overflow: hidden;
}

body .destination .content .info-slider .card {
  width: 100%;
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .destination .content .info-slider .card h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: bellefair;
  font-size: 56px;
  line-height: 64.18px;
  font-weight: 400;
  color: #fff;
}

body .destination .content .info-slider .card p {
  margin-top: 1px;
  font-family: barlow;
  font-size: 15px;
  line-height: 25px;
  position: relative;
}

body .destination .content .info-slider .card p::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -15px;
  height: 1px;
  background-color: #D0D6F9;
}

body .destination .content .info-slider .card .calculations h4 {
  margin-top: 32px;
  text-transform: uppercase;
  font-family: barlow condensed;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.3px;
}

body .destination .content .info-slider .card .calculations h2 {
  text-transform: uppercase;
  margin-top: 12px;
  font-family: Bellefair;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}
/*# sourceMappingURL=destination.css.map */