@import "scss/helpers/variables";
@import "scss/helpers/mixins";
@import "scss/layout/globalrules";
@import "scss/layout/grid";
@import "scss/components/sectionHeader";

@import "scss/components/buttons";
@import "scss/layout/header";
@import "scss/pages/homepage";
@import "scss/layout/footer";