* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* ul, * ol {
  padding: 0;
  list-style: none;
}

* a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575px) {
  .container {
    width: 310px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.disappear {
  display: none;
  opacity: 0;
}

/*start header styling*/
header {
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .content .logo {
  width: 40px;
  height: 40px;
}

header .content .logo a img {
  max-width: 100%;
}

header .content .menu-btn {
  width: 24px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

header .content .menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #D0D6F9;
}

/*end header styling*/
/*start styling menu*/
.side-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(18px);
  -o-backdrop-filter: blur(18px);
  -moz-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 100vh;
  right: 0;
  top: 0;
  width: 65%;
  z-index: 2;
  color: #fff;
}

.side-menu img {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.side-menu ul {
  position: absolute;
  top: 20%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  counter-increment: serial 0;
}

.side-menu ul a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.side-menu ul a::before {
  content: "0" counter(serial);
  position: absolute;
  left: -30px;
  font-family: barlow Condensed;
  font-weight: 800;
}

.side-menu ul a li {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.4px;
  font-family: Barlow Condensed;
  font-size: 16px;
}

/*start styling menu*/
/*start homepage styling*/
body {
  background-image: url(../../../imgs/home/background-home-mobile.jpg);
  background-size: cover;
  position: relative;
}

body .landing {
  margin-top: 48px;
  text-align: center;
}

body .landing .info {
  color: #D0D6F9;
}

body .landing .info h3 {
  font-size: 16px;
  font-family: Barlow Condensed;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2.7px;
}

body .landing .info h1 {
  font-size: 80px;
  font-family: Bellefair;
  font-weight: 400;
  margin: 18px 0 0 0;
  line-height: 100px;
  text-transform: uppercase;
  color: #fff;
}

body .landing .info p {
  font-size: 15px;
  font-family: Barlow;
  font-weight: 400;
  width: 100%;
  line-height: 25px;
  margin: 16px 0 0 0;
}

body .landing .explore {
  margin-top: 81px;
}

body .landing .explore .circle {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .landing .explore .circle h2 {
  font-size: 20px;
  font-family: Bellefair;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 22.92px;
  text-transform: uppercase;
}

body .landing .explore .circle:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #25242f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .landing .explore .circle:hover::after {
  width: 225px;
  height: 225px;
}

/*end homepage styling*/
/*# sourceMappingURL=homepage.css.map */