* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* ul, * ol {
  padding: 0;
  list-style: none;
}

* a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575px) {
  .container {
    width: 350px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

header {
  margin: 24px 20px auto 20px;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .content .logo {
  width: 40px;
  height: 40px;
}

header .content .logo img {
  max-width: 100%;
}

header .content .menu-btn {
  width: 24px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

header .content .menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #D0D6F9;
}

body {
  background-image: url(../../../imgs/home/background-home-mobile.jpg);
}

body .landing {
  margin-top: 48px;
  text-align: center;
}

body .landing .info {
  color: #D0D6F9;
}

body .landing .info h3 {
  font-size: 16px;
  font-family: Barlow Condensed;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2.7px;
}

body .landing .info h1 {
  font-size: 80px;
  font-family: Bellefair;
  font-weight: 400;
  margin: 18px 0 0 0;
  line-height: 100px;
  text-transform: uppercase;
  color: #fff;
}

body .landing .info p {
  font-size: 15px;
  font-family: Barlow;
  font-weight: 400;
  width: 100%;
  line-height: 25px;
  margin: 16px 0 0 0;
}

body .landing .explore {
  margin-top: 81px;
}

body .landing .explore .circle {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .landing .explore .circle h2 {
  font-size: 20px;
  font-family: Bellefair;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 22.92px;
  text-transform: uppercase;
}
/*# sourceMappingURL=homepage.css.map */