/*starting destination styling*/
body {
  background-image: url(../../../imgs/destination/background-destination-mobile.jpg);
  @include breakpoints(small) {
    background-image: url(../../../imgs/destination/background-destination-tablet.jpg);
  }
  @include breakpoints(large) {
    background-image: url(../../../imgs/destination/background-destination-desktop.jpg);
  }
  background-size: cover;
  position: relative;
  .destination {
    .content {
      text-align: center;
      margin-top: 50px;
      color: $main-text-color;
      position: relative;
      @include breakpoints(large) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 660px;
      }
      ul.destination{
        margin-top: 260px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: barlow condensed;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 2.36px;
        font-weight: 400;
        @include breakpoints(small) {
          margin-top: 390px;
          font-size: 16px;
          line-height: 19.2px;
          letter-spacing: 2.7px;
        }
        @include breakpoints(large) {
          margin-top: 100px;
          font-size: 16px;
          line-height: 19.2px;
          letter-spacing: 2.7px;
        }
        a {
          text-decoration: none;
          color: $main-text-color;
          text-transform: uppercase;
          padding-bottom: 6px;
          cursor: pointer;
          &:hover:not(.active){
            border-bottom: 3px solid rgba($main-text-color, 0.5);
          }
        }
      }
      .info-slider {
        position: relative;
        height: 450px;
        @include breakpoints(small) {
          height: 390px;
        }
        @include breakpoints(large) {
          height: 480px;
        }
        overflow: hidden;
        .card {
          width: 100%;
          position: absolute;
          left: 50%;
          opacity: 0;
          @include prefixer(transition, 0.8s, webkit o moz);
          h1 {
            margin-top: 20px;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-family: bellefair;
            font-size: 56px;
            line-height: 64.18px;
            font-weight: 400;
            color: $main-headers-color;
            @include breakpoints(small) {
              font-size: 80px;
              line-height: 91.5px;
            }
            @include breakpoints(large) {
              font-size: 100px;
              line-height: 114.6px;
            }
          }
          p {
            margin-top: 1px;
            font-family: barlow;
            font-size: 15px;
            line-height: 25px;
            position: relative;
            @include breakpoints(small) {
              font-size: 16px;
              line-height: 28px;
            }
            @include breakpoints(large) {
              font-size: 18px;
              line-height: 32px;
            }
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              left: 0;
              bottom: -15px;
              @include breakpoints(small) {
                bottom: -45px;
              }
              height: 1px;
              background-color: $main-text-color;
            }
          }
          .calculations {
            @include breakpoints(small) {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center;
              padding-top: 30px;
            }
            h4 {
              margin-top: 32px;
              text-transform: uppercase;
              font-family: barlow condensed;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 2.3px;
            }
            h2 {
              text-transform: uppercase;
              margin-top: 12px;
              @include breakpoints(small) {
                margin-top: 30px;
              }
              font-family: Bellefair;
              font-size: 28px;
              font-weight: 400;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}
/*ending destination styling*/
