/*strat technology style*/
body{
    background-image: url(../../../imgs/technology/background-technology-mobile.jpg);
    @include breakpoints (small){
        background-image: url(../../../imgs/technology/background-technology-tablet.jpg);
    }
    @include breakpoints (large){
        background-image: url(../../../imgs/technology/background-technology-desktop.jpg);
    }
    background-size: cover;
    position: relative;
    .technology{
        position: relative;
        text-align: center;
        .content{
            @include breakpoints (large){
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
                gap: 40px;
                margin-top: 100px;
            }
            .img-slider{
                overflow: hidden;
                width: 40%;
                @include breakpoints (large){
                    position: absolute;
                    right:0;
                    width: 500px;
                    top: 50px;
                    height: 460px;
                    margin-bottom: 50px;
                }
                img{
                    width: 100vw;
                    @include breakpoints (large){
                        width: 520px;
                        height: 100%;
                        position: absolute;
                        left:unset;

                    }
                }
            }
            .slider-btns{
                display: inline-flex;
                justify-content: space-evenly;
                align-items: center;
                width: 152px;
                position: absolute;
                top: 216px;
                @include breakpoints (small){
                    top: 400px;
                }
                @include breakpoints (large){
                    position: static;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    justify-content: space-evenly;
                    width: 10%;
                    order: 1;
                    left: unset;
                    @include prefixer (transform, translatex(0%) !important, webkit moz o);    
                }
                left: 50%;
                @include prefixer (transform, translatex(-50%) !important, webkit moz o);
                a{
                    font-family: Bellefair;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 1px;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    @include prefixer (border-radius, 50%, webkit moz o);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba($main-headers-color, 0.4);
                    cursor: pointer;
                    &:hover:not(.active){
                        border: 1px solid $main-headers-color;
                    }
                    @include breakpoints (large){
                        width: 80px;
                        height: 80px;
                        font-size: 32px;
                        line-height: 37px;
                        letter-spacing: 2px;
                    }   
                }
            }
            .info-slider{
                position: relative;
                height: 330px;
                width: 100%;
                top: 270px;
                @include breakpoints(small) {
                height: 280px;
                top: 425px;
                }
                @include breakpoints(large) {
                    top: unset;
                    width:50%
                }
                overflow: hidden;
                .card {
                width: 100%;
                position: absolute;
                left: 50%;
                opacity: 0;
                @include prefixer(transition, 0.8s, webkit o moz);

                h3{
                    margin-top: 20px;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    color: $main-headers-color;
                    font-family: Barlow Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 2.3px;
                    text-align: center;
                    @include breakpoints(small) {
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 2.7px;
                    }
                    @include breakpoints(large) {
                        text-align: left;
                    }
                }
                h2{
                    margin-top: 9px;
                    font-family: Bellefair;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28px;
                    text-align: center;
                    color:$main-headers-color;
                    @include breakpoints (small){
                        font-size: 40px;
                        line-height: 46px;
                    }
                    @include breakpoints (large){
                        font-size: 56px;
                        line-height: 64px;
                        text-align: left;
                    }
                }
                p {
                    font-family: Barlow;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    text-align: center;
                    margin-top: 1px;
                    position: relative;
                    color: #D0D6F9;
                    @include breakpoints(small) {
                    font-size: 16px;
                    line-height: 28px;
                    }
                    @include breakpoints(large) {
                        font-size: 18px;
                        line-height: 32px;
                        text-align: left;
                    }
                }
                }
            }
        }
    }
    
}
/*end technology style*/