/*start header styling*/
header{
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .logo{
            width: 40px;
            height: 40px;
            a{
                img{
                    max-width: 100%;
                }
            }
        }
        .menu-btn{
            width: 24px;
            height: 21px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            span{
                width: 100%;
                height: 2px;
                background-color: #D0D6F9;
                
            }
        }
    }
}
/*end header styling*/
/*start styling menu*/
.side-menu{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.04);
    @include prefixer (backdrop-filter, blur(18px), webkit o moz);
    @include prefixer (transition, 0.8s, webkit o moz);
    height: 100vh;
    right: 0;
    top: 0;
    width: 65%;
    z-index: 2;
    color: $main-headers-color;
    img{
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
    }
    ul{
        position: absolute;
        top: 20%;
        left: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        counter-increment: serial 0;
        a{
            text-decoration: none;
            color: $main-headers-color;
            position: relative;
            &::before{
                content:"0"counter(serial);
                position: absolute;
                left: -30px;
                font-family: barlow Condensed;
                font-weight: 800;
            }
            li{
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 2.4px;
                font-family: Barlow Condensed;
                font-size: 16px;
            }
        }
    }
}
/*start styling menu*/