@import "./../helpers/variables";
@import "./../helpers/mixins";

.active{
    border-bottom: 3px solid #fff;
    color: $main-headers-color;
}

.active-bullet{
    background-color: #fff !important;
    opacity: 1 !important;
}

.active-ball{
    color:black;
    background-color: #fff !important;
}

.visible{
    opacity: 1 !important;
    @include prefixer (transform, scale(1) translatex(-50%) !important, webkit moz o)
}
